/**

 * ljus orange
 * rgb(237, 167, 41);

 * orange
 * rgb(241, 93, 5);

 * turkos
 * rgb(8, 175, 193);

 * ljus turkos
 * rgb(133, 225, 224);

 */

html {
  background: none repeat scroll 0 0 rgb(133, 225, 224);
  color: #fff;
}
body {
  background: #fff url('../img/map-light-smaller.jpg') no-repeat;
  color: rgb(8, 175, 193);
}
p {
  color: #777;
}
.container {
  height: 725px;
}
.pause-container {
  background-color: rgb(241, 93, 5);
}
.score-container,
.best-container {
  background-color: rgb(237, 167, 41);
}
.next-tile-container {
  background-color: rgb(133, 225, 224);
}
.game-container {
  background-color: rgb(8, 175, 193);
}
.invi {
  background-color: rgb(133, 225, 224);
}

.tile,
.tile-inner {
  color: transparent !important;
}
.tile-inner {
  background-size: cover !important;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); 
}
.next-tile-container {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: transparent !important;
}
.tile.tile-2 .tile-inner,
.next-tile-2 {
  background: transparent url('../img/tavling.png');
}
.tile.tile-4 .tile-inner,
.next-tile-4 {
  background: transparent url('../img/metis.png');
}
.tile.tile-8 .tile-inner,
.next-tile-8 {
  background: transparent url('../img/skapa.png');
}
.tile.tile-16 .tile-inner {
  background: transparent url('../img/asteria.png');
}
.tile.tile-32 .tile-inner {
  background: transparent url('../img/lelantos.png');
}
.tile.tile-64 .tile-inner {
  background: transparent url('../img/oceanis.png');
}
.tile.tile-128 .tile-inner {
  background: transparent url('../img/hyperion.png');
}
.tile.tile-256 .tile-inner {
  background: transparent url('../img/science.png');
}
.tile.tile-512 .tile-inner {
  background: transparent url('../img/globalt.png');
}
.tile.tile-1024 .tile-inner {
  background: transparent url('../img/action.png');
}
.tile.tile-2048 .tile-inner {
  background: transparent url('../img/vatten.png');
}
.tile.tile-super .tile-inner {
  background: transparent url('../img/atlantis.png');
}

img.preload {
  position:absolute;
  bottom: 0px;
  right: 0px;
  width: 1px;
  height: 1px;
}

.game-container .game-message p {
  margin-top: 30px;
}
.game-container .game-message p a {
  background: transparent;
  text-shadow: 0px 0px 5px #000;
}

.game-container .game-message .atlantis-place {
  width: 200px;
  height: 200px;
  margin-bottom: 90px;
}

.game-container .game-message .lower {
  margin-top: 180px;
}

.score-container:after {
  content: "Poäng";
}

.best-container:after {
  content: "Bästa";
}

.next-tile-container:after {
  content: "";
}

.pause-container:after {
  content: "PAUSA";
}

.pause-container.paused:after {
  content: "SPELA";
}

#fb-share-header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.fb-button {
  background-color: #354C8C !important;
}

.atlantis-map img {
  max-width: 100%;
}

.heading {
  height: 67px;
}
.heading .logo {
  width: 170px;
  height: auto;
  max-width: 40%;
  margin-top: 10px;
}
